<% if (usuarioSesion && usuarioSesion.role === 'admin') { %>
    <%- include('partials/headerAdmin.ejs') %>
<% } else if (usuarioSesion && usuarioSesion.role === 'operador') { %>
    <%- include('partials/headerOperador.ejs') %>
<% } %>

<%- include('../public/css/equipo.css') %>

   
<!-- Contenido Principal -->
<main class="container my-5">
    <!-- Sección del Producto -->
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6 d-flex justify-content-center">
                <!-- Imagen del Producto con Efecto Hover -->
                <% if (equipo.imagen) { %>
                    <img style="max-height: 500px; width: auto; margin: 0 auto;" class="img-fluid rounded-start" src="<%= equipo.imagen %>" alt="Imagen del equipo <%= equipo.nombre %>" >
                    <% if (usuarioSesion && usuarioSesion.role === 'admin') { %>
                        <button style="display: block;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarImagenModal">
                            Editar Imagen
                        </button>
                    <% } %>
                    
                <% } %>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <!-- Descripción y Detalles del Producto -->
                    <% if (messages.exito && messages.exito.length > 0) { %>
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <%= messages.exito[0] %>
                        </div>
                    <% } %>
                    <% if (messages.error && messages.error.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <%= messages.error[0] %>
                        </div>
                    <% } %>
                    <div class="row d-flex flex-wrap">
                        <div style="width: 85%;">
                            <p style="margin-bottom: 0px;">Cod fábrica: <%= equipo.cod_fabrica %></p>
                            <h1 style="margin-top: 0px;" class="card-title"><%= equipo.nombre %></h1>
                        </div>
                        <% if (usuarioSesion && usuarioSesion.role === 'admin') { %>
                            <div class="" style="width: 15%;">
                                <a href="/editar-equipo/<%= equipo.id %>" class="btn btn-outline-warning btn-sm"><i class="fas fa-edit"></i> Editar</a>
                            </div>
                        <% } %>
                        
                    </div>
                    <p class="card-text"><%= equipo.descripcion %></p>
                    <p class="card-text"><small class="text-muted">Detalles adicionales:</small></p>

                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Marca
                            <span class="badge bg-primary rounded-pill"><%= equipo.marca %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Disponibles:
                            <span class="badge bg-primary rounded-pill" style="background-color: <%= getColorEstado('disponible') %> !important;">
                                <% let disponibles = conteoEstados.find(estado => estado.dataValues.estado === 'disponible'); %>
                                <% if(disponibles) { %>
                                    <%= disponibles.dataValues.cantidad %>
                                <% } else { %>
                                    0
                                <% } %>
                            </span>
                        </li>
                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Usando:
                            <span class="badge bg-primary rounded-pill" style="background-color: <%= getColorEstado('en uso') %> !important;">
                                <% let enUso = conteoEstados.find(estado => estado.dataValues.estado === 'en uso'); %>
                                <% if(enUso) { %>
                                    <%= enUso.dataValues.cantidad %>
                                <% } else { %>
                                    0
                                <% } %>
                            </span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dañados:
                            <span class="badge bg-primary rounded-pill" style="background-color: <%= getColorEstado('dañado') %> !important;">
                                <% let danados = conteoEstados.find(estado => estado.dataValues.estado === 'dañado'); %>
                                <% if(danados) { %>
                                    <%= danados.dataValues.cantidad %>
                                <% } else { %>
                                    0
                                <% } %>
                            </span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Perdidos:
                            <span class="badge bg-primary rounded-pill" style="background-color: <%= getColorEstado('perdido') %> !important;">
                                <% let perdidos = conteoEstados.find(estado => estado.dataValues.estado === 'perdido'); %>
                                <% if(perdidos) { %>
                                    <%= perdidos.dataValues.cantidad %>
                                <% } else { %>
                                    0
                                <% } %>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Cantidad Total:</strong>
                            <span class="badge bg-primary rounded-pill" style="background-color: black !important;">
                                <% if(sumaTotalEquipos) { %>
                                    <strong><%= sumaTotalEquipos %></strong>
                                <% } else { %>
                                    <strong>No hay nada que mostrar</strong>
                                <% } %>
                            </span>
                        </li>
                    </ul>
                    


                    <a href="/registrar-instancia/<%= equipo.id %>" class="btn btn-outline-success mt-3">Añadir nueva unidad</a>
                </div>
            </div>
        </div>
    </div>

    <!-- INSTANCIAS -->
    <div class="mb-4">
        <!-- Sección de Instancias del Equipo -->
        <h3 class="titulo-instancias">Unidades Disponibles:</h3>
        <div class="instancias-container d-flex"> 
            <% equipo.InstanciaEquipos.sort((a, b) => a.num_registro - b.num_registro);  %>
    
            <% equipo.InstanciaEquipos.forEach(instancia => {  %>
                <div title="Cod: <%= instancia.cod_propio %>" class="estado-circulo" style="background-color: <%= getColorEstado(instancia.estado) %>;">
                    <span class="estado-numero"><%= instancia.num_registro %></span>
                </div>
            <% }) %>
        </div>
    </div>
    


    <!-- Modal -->
    <div class="modal fade" id="editarImagenModal" tabindex="-1" aria-labelledby="editarImagenModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarImagenModalLabel">Editar Imagen del Equipo: <%= equipo.nombre %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Mensajes flash para errores o confirmaciones -->
                    <% if (messages.error) { %>
                        <div class="alert alert-danger">
                            <%= messages.error %>
                        </div>
                    <% } %>
                    <% if (messages.exito) { %>
                        <div class="alert alert-success">
                            <%= messages.exito %>
                        </div>
                    <% } %>

                    <!-- Formulario para subir nueva imagen -->
                    <form action="/editar-imagen-equipo/<%= equipo.id %>" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file">Nueva Imagen:</label>
                            <input type="file" id="file" name="file" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Actualizar Imagen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>






<style>
    .estado-circulo {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin: 5px;
    }

    .estado-numero {
        font-size: 16px;
        color: white;
    }

    /* Estilos para el modal */
    .modal-header {
        background-color: #f8f9fa; /* Color de fondo del encabezado */
        border-bottom: 1px solid #dee2e6; /* Borde inferior */
    }

    .modal-title {
        color: #495057; /* Color del título */
    }

    .modal-body {
        padding: 20px; /* Espaciado interno */
    }

    .modal-footer {
        background-color: #f8f9fa; /* Color de fondo del pie de página */
        border-top: 1px solid #dee2e6; /* Borde superior */
    }

    /* Estilos para el formulario */
    .form-group {
        margin-bottom: 15px; /* Espaciado inferior */
    }

    .form-group label {
        display: block;
        margin-bottom: 5px; /* Espaciado inferior del label */
    }

    .form-group input[type="file"] {
        display: block;
        width: 100%; /* Ancho completo */
    }

</style>

</div>

<% function getColorEstado(estado) {
    switch (estado) {
        case 'disponible': return '#229954';
        case 'en uso': return '#D4AC0D';
        case 'dañado': return '#A93226';
        case 'perdido': return '#A93226';
        default: return '#B2BABB';
    }
} %>
