<% if (usuario && usuario.role === 'admin') { %>
    <%- include('partials/headerAdmin.ejs') %>
  <% } else if (usuario && usuario.role === 'operador') { %>
    <%- include('partials/headerOperador.ejs') %>
<% } %>
<div class="container mt-5">
    <!-- <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <%= error %>
        </div>
    <% } %> -->
    
    <h1 class="mb-4"><i class="fa-regular fa-pen-to-square"></i> Editar <%= equipo.nombre %></h1>

    <form action="/editar-equipo" method="post" class="bg-light p-4 rounded shadow">
        
        <input type="hidden" name="id" value="<%= equipo.id %>" readonly>

        <!-- Campo para el nombre del equipo -->
        <div class="mb-3">
            <label for="nombre" class="form-label"><i class="fas fa-tag"></i> Nombre:</label>
            <input type="text" id="id" name="nombre" class="form-control" value="<%= equipo.nombre %>" required>
        </div>

         <!-- Campo para la descripción del equipo -->
         <div class="mb-3">
            <label for="descripcion" class="form-label"><i class="fas fa-tag"></i> Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" class="form-control" value="<%= equipo.descripcion %>" required>
        </div>


        <!-- Campo para la marca del equipo -->
        <div class="mb-3">
            <label for="marca" class="form-label"><i class="fa-regular fa-copyright"></i> Marca:</label>
            <input type="text" id="marca" name="marca" class="form-control" value="<%= equipo.marca %>" required>
        </div>

        <!-- Menú desplegable para seleccionar la categoría del equipo -->
        <div class="mb-3">
            <label for="categoria_id" class="form-label"><i class="fas fa-layer-group"></i> Categoría:</label>
            <select id="categoria_id" name="categoria_id" class="form-select" required>
                <option value="<%= equipo.categoria_id %>" selected><%= nombreCategoria.nombre %> (categoría actual)</option>
                <% categorias.forEach(categoria => { %>
                    <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                <% }); %>
            </select>
        </div>

        <!-- Botón para enviar el formulario -->
        <div class="mb-3">
            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Editar Equipo</button>
        </div>
    </form>
</div>
