<% if (usuarioSession && usuarioSession.role === 'admin') { %>
    <%- include('partials/headerAdmin.ejs') %>
<% } else if (usuarioSession && usuarioSession.role === 'operador') { %>
    <%- include('partials/headerOperador.ejs') %>
<% } %>




<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0"><i class="fas fa-list-ul"></i> Editar Categoria</h3>
                </div>
                <div class="card-body">
                    <form action="/editar-categoria/<%= categoria.id %>" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label"><i class="fas fa-list-ul"></i> Nombre</label>
                            <input type="text" class="form-control" id="username" name="nombre" value="<%= categoria.nombre %>" required>
                        </div>

                        <div class="mb-3">
                            <label for="nombre" class="form-label"><i class="fas fa-signature"></i> Descripción</label>
                            <input type="text" class="form-control" id="nombre" name="descripcion" value="<%= categoria.descripcion %>" required>
                        </div>


                        <button type="submit" class="btn btn-outline-warning"><i class="fas fa-list-ul"></i> Guardar Cambios</button>
                        <p class="text-secondary mt-2"><a href="/categorias" style="text-decoration: none;">Volver</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>