<!-- <% if (usuarioSesion && usuarioSesion.role === 'admin') { %>
    <%- include('partials/headerAdmin.ejs') %>
<% } else if (usuarioSesion && usuarioSesion.role === 'operador') { %>
    <%- include('partials/headerOperador.ejs') %>
<% } %> -->




<div class="container mt-5">
    <h2 class="mb-4"><i style="color: red;" class="fa-solid fa-rotate-left"></i>   Registro de Equipo Regresado</h2>
    <div class="row">
        <!-- Sección de Datos del Tour -->
        <div class="col-md-6">
            <% if (messages.exito && messages.exito.length > 0) { %>
                <div class="alert alert-success" role="alert" id="alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <%= messages.exito[0] %>
                </div>
            <% } %>
            <% if (messages.error && messages.error.length > 0) { %>
                <div class="alert alert-danger" role="alert" id="alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <%= messages.error[0] %>
                </div>
            <% } %> 
            <div class="card mb-4">
                <div class="card-header">
                    Datos del Tour
                </div>
                <div class="card-body">
                    <!-- Formulario de Datos del Tour -->
                    <form action="/actualizar-datos-tour/" method="POST"> <!-- Asegúrate de cambiar la acción y el método según tus necesidades -->
                        <div class="row">
                            <div class="div d-flex flex-wrap justify-content-between">
                                <div class="tour"><p>Tour: Sky Trek</p></div>
                                <div class="fecha"><p>Fecha:  <%= moment(entrada.fecha).format('DD-MM-YY'); %></p></div>
                                <div class="hora"><p>Hora: <%= moment(entrada.hora, "HH:mm").format('h:mm A') %></p></div>
                            </div>
                        </div>

                    </form>
                </div>
                
            </div>
        </div>

        <!-- Sección de Registro de Equipos -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    Registro de Equipos
                </div>
                <div class="card-body">
                    <form autocomplete="off" id="formDos" data-entrada-id="<%= entrada.id %>" action="/registrar-equipo-entrada/" method="post">
                        <div class="row">
                            <!-- Campo para el código de barras -->
                            <div class="col-md-4 mb-3">
                                <label for="codigoBarras" class="form-label"><i class="fa-solid fa-barcode"></i> Código de Barras</label>
                                <input type="text" class="form-control" id="codigoBarras" name="cod_propio" placeholder="Código de Barras">
                            </div>
                    
                            <!-- Campo para el nombre del equipo -->
                            <div class="col-md-8 mb-3">
                                <label for="nombreEquipo" class="form-label">Nombre del Equipo</label>
                                <input type="text" class="form-control" id="nombreEquipo" placeholder="Nombre del Equipo">
                            </div>
                        </div>
                    


                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-plus"></i> Agregar Equipo
                        </button>
                        
                    </form>
                    
                    <!-- Div para mostrar mensajes de error -->
                    <div id="mensajeError" style="display: none;" class="alert alert-danger"></div>
                    <audio id="sonidoError" src="/sounds/error_effect.mp3"></audio>
                    <!-- Div para mostrar mensajes de EXITO -->
                    <div id="mensajeExito" style="display: none;" class="alert alert-success"></div>
                    <audio id="sonidoExito" src="/sounds/success_effect.mp3"></audio>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Visualización de Equipos Registrados -->
    <div class="row">
        <div id="contenedor-tablas" class="d-flex flex-wrap justify-content-around"></div>
    </div>


    <div class="row d-flex justify-content-center">
        <div class="col-2">
            <button id="btnGuardar" style="padding: 15px 25px;" class="btn btn-outline-success">Registrar Tanda</button>
        </div>
        
    </div>

</div>



<script>
    const entradaId = '<%= entrada.id %>';
</script>

<!-- SCRIPT PARA LAS ALERTAS, SU SONIDO Y SU DURACIÓN -->
<script>
    // Espera a que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', (event) => {
        // Selecciona los mensajes de alerta
        const alertSuccess = document.getElementById('alert-success');
        const alertDanger = document.getElementById('alert-danger');

        // Establece un temporizador para ocultar el mensaje de éxito
        if (alertSuccess) {
            setTimeout(() => {
                alertSuccess.style.display = 'none';
            }, 3000);
        }

        // Establece un temporizador para ocultar el mensaje de error
        if (alertDanger) {
            document.getElementById('sonidoError').play();
            setTimeout(() => {
                alertDanger.style.display = 'none';
            }, 3000);
        }
    });
</script>

<script src="/js/entradaEquipoTandas.js"></script>